<h1 class="title">FISTICUFFS</h1>

<a href="/profiles/<%=@opponent["id"]%>">
  <div class="opponent">
    <%=@opponent["name"]%>
    <p></p>
    <img src="<%=@opponent["picture"]%>">
  </div>
</a>

<p></p>

<div class="buttonholder">
  <form action="/likes" method="post">
    <input type="hidden" name="opponent_fb_id"value="<%=@opponent["fbid"]%>">
    <input type="submit" value="Let's Scrap">
  </form>
  <form action="/dislikes" method="post">
    <input type="hidden" name="opponent_fb_id"value="<%=@opponent["fbid"]%>">
    <input type="submit" value="I'm good">
  </form>
</div>

<a href="/profiles/<%=session[:user]["id"]%>">Profile</a>
  <form action="/logout" method='get'>
    <input type="hidden" name='_method' value='delete'>
    <input type="submit" value='Log-Out'>
  </form>

