<h1 class="title">FISTICUFFS</h1>
  <div class="nav">
  <form action="/profiles/<%=session[:user]["id"]%>">
    <input type="submit" value="Profile">
  </form>
  <% flash_types.select{ |kind| flash.has?(kind) }.each do |kind| %>
    <div class="flash <%= kind %>">
      <h6><%= flash[kind] %></h6>
    </div>
  <% end %>
  <form action="/<%=session[:user]["id"]%>/matches">
    <input type="submit" value="Matches">
  </form>
  <form action="/logout" method='get'>
    <input type="hidden" name='_method' value='delete'>
    <input type="submit" value='Log-Out'>
  </form>
  </div>
<%if @opponent != nil %>
  <div id="opponent">
    <h3><%=@opponent["name"]%></h3>
    <img src="<%=@opponent["picture"]%>">
    <br>
    <p class="stats">
       Height: <%=@opponent["height"]%>
       <br>
       Weight:  <%=@opponent["weight"]%>
       <br>
       Age: <%=@age%> 
       <br>
       Location: <%=@opponent["location"]%>
      </p>
    <button class="toggle">MORE INFO</button>
    <br>
    <div class="oppinfo">
      <p class="oppbio"><%=@opponent["bio"]%></p>
    </div>
  </div>

<br>

  <div class="buttonholder">
      <div class="arrows">
    <b><span class="dislikearrow"><</span><span class="likearrow">></span></b>
  </div>
    <table class="table">
      <tr>
        <td>
          <form id="dislike" action="/matches" method="post">
          <input type="hidden" name="opponent_id"value="<%=@opponent["id"]%>">
          <input type="hidden" name="status"value="0">
          <input type="submit" value="No Thank You">
          </form>
        </td>
        <td>
          <form id="like" action="/matches" method="post">
          <input type="hidden" name="opponent_id"value="<%=@opponent["id"]%>">
          <input type="hidden" name="status"value="1">
          <input type="submit" value="Let's Fight">
          </form>
        </td>
      </tr>
  </table>  
</div>
<%else%>
  <div class="opponent">
    <h3>No New Users!</h3>
  </div>
<%end%>
