<h1>Hello you dick</h1>

<div
  class="fb-like"
  data-share="true"
  data-width="450"
  data-show-faces="true">
</div>


<%= [1, 2, 3, 4, 5].inspect; %>

<p><%@users.each do |user|%></p>
<p><%=user["name"]%></p>
<p><%end%></p>
<%= @session.inspect %>

<% if @graph %>

  <div class="info">
    <img src="<%= @photo %>" >
    <p>
  	Name:	<%=@person["name"]%>
    <!-- <%= @person %> -->
  	</p>
  	<p>
  	DOB:	<%=@person["birthday"]%>
    </p>
    <p> 	
  	Political Views: <%=@person["political"]%>
  	<p>
  </div>


<% else %>
  <form action="/logout" method='get'>
    <input type="hidden" name='_method' value='delete'>
    <input type="submit" value='Log-Out'>
  </form>
<% end %>
