<h1>Hello you dick</h1>

<div
  class="fb-like"
  data-share="true"
  data-width="450"
  data-show-faces="true">
</div>


<div id="status">
</div>

<% if @graph %>

  <div class="info">
    <img src=<%=@photo%>>
    <p>
  	Name:	<%=@person["name"]%>
  	</p>
  	<p>
  	DOB:	<%=@person["birthday"]%>
    </p>
    <p> 	
  	Political Views: <%=@person["political"]%>
  	<p>
  </div>


 <!--  <a href="/sessions/destroy" >Logout</a> -->
  <form action="/sessions" method='post'>
    <input type="hidden" name='_method' value='delete'>
    <input type="submit" value='Log-Out'>
  </form>
<% else %>

  <a href="<%= @auth_url %>" >Login</a>
  <fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
  </fb:login-button>

<% end %>
