<h1 class="title">FISTICUFFS</h1>
  <div class="nav">
  <form action="/profiles/<%=session[:user]["id"]%>">
    <input type="submit" value="Profile">
  </form>
  <form action="/profiles/<%=session[:user]["id"]%>/messages">
    <input type="submit" value="Message">
  </form>
  <form action="/logout" method='get'>
    <input type="hidden" name='_method' value='delete'>
    <input type="submit" value='Log-Out'>
  </form>
  </div>
  
  <div class="opponent">
    <h3><%=@opponent["name"]%></h3>
    <br>
    <img src="<%=@opponent["picture"]%>">
    <br>
    <p class="oppbio"><%=@opponent["bio"]%></p>
  </div>

<br>

<div class="buttonholder">
  <table class="table">
    <tr>
      <td>
  <form id="like" action="/likes" method="post">
    <input type="hidden" name="opponent_id"value="<%=@opponent["id"]%>">
    <input type="submit" value="Let's Scrap">
  </form>
     </td>
     <td>
  <form id="dislike" action="/dislikes" method="post">
    <input type="hidden" name="opponent_id"value="<%=@opponent["id"]%>">
    <input type="submit" value="I'm good">
  </form>
    </td>
    </tr>
  </table>
</div>

