<h1>Hello you dick</h1>

<div
  class="fb-like"
  data-share="true"
  data-width="450"
  data-show-faces="true">
</div>

<a href="/profiles/<%=@opponent["id"]%>">
  <div class="opponent">
    <%=@opponent["name"]%>
    <img src="<%=@opponent["picture"]%>">
  </div>
</a>

<p></p>

<div class="buttonholder">
  <button class="no">I'm good</button>
  <button class="yes">Let's scrap</button>
</div>
<% if @graph %>

  <div class="info">
    <img src="<%= @photo %>" >
    <p>
  	Name:	<%=@person["name"]%>
    <!-- <%= @person %> -->
  	</p>
  	<p>
  	DOB:	<%=@person["birthday"]%>
    </p>
    <p> 	
  	Political Views: <%=@person["political"]%>
  	<p>
  </div>


<% else %>
<a href="/profiles/<%=session[:user]["id"]%>">Profile</a>
  <form action="/logout" method='get'>
    <input type="hidden" name='_method' value='delete'>
    <input type="submit" value='Log-Out'>
  </form>
<% end %>
