<h3 class="title">Ripe for Conquest</h3>
<nav class="outer">
  <form class="inner" action="/">
    <input type="submit" value="Home">
  </form>
  <form class="inner" action="/instructions">
    <input type="submit" value="Instructions">
  </form>
  <form class="inner" action="/profiles/<%=session[:user]["id"]%>">
    <input type="submit" value="Profile">
  </form>
  <form class="inner" action="/<%=session[:user]["id"]%>/matches">
    <input type="submit" value="Matches">
  </form>
  <form class="inner" action="/logout" method='get'>
    <input type="hidden" name='_method' value='delete'>
    <input type="submit" value='Log-Out'>
  </form>  
  <%if @unseen.count > 0%>
  <h6>You have new matches</h6>
  <%end%>
  <%if @unread.count > 0%>
  <h6>You have new messages</h6>
  <%end%>
</nav>
<br>
<%if @matched_users != []%>
	<%@matched_users.map do |user|%>
	<ul>
		<a href="/matches/<%=@matched.where({opponent_id: user.id}).first.id%>">
			<li class="matcheduser">
				<% if @unseen.where(opponent_id: user.id).count > 0%>
					<span class="unseen"><%=user.name%></span>
					<br>
					<img class="matchphoto" src="<%=user.picture%>">
        <%elsif @unread.where(sender_id: user.id).count > 0%>
          <span class="unseen"><%=user.name%></span>
          <br>
          <img class="matchphoto" src="<%=user.picture%>">
        <%else%>
					<%=user.name%>
					<br>
					<img class="matchphoto" src="<%=user.picture%>">
				<%end%>
			</li>
		</a>
	</ul>	
	<%end%>
<%else%>
	<h3>No prospective Combatants!</h3>
<%end%>
