<h3 class="title">Ripe for Conquest</h3>
<nav class="outer">
  <form class="inner" action="/">
    <input type="submit" value="Home">
  </form>
  <form class="inner" action="/instructions">
    <input type="submit" value="Instructions">
  </form>
  <form class="inner" action="/profiles/<%=session[:user]["id"]%>">
    <input type="submit" value="Profile">
  </form>
  <form class="inner" action="/<%=session[:user]["id"]%>/matches">
    <input type="submit" value="Matches">
  </form>
  <form class="inner" action="/logout" method='get'>
    <input type="hidden" name='_method' value='delete'>
    <input type="submit" value='Log-Out'>
  </form>  
  <%if @unseen.count > 0%>
  <h6>You have new matches</h6>
  <%end%>
  <%if @unread.count > 0%>
  <h6>You have new messages</h6>
  <%end%>
</nav>
<br>
<div class="container">
<%if @matched_users != []%>
	<%@matched_users.map do |user|%>
  <div class="row">
	<ul>
		<a href="/matches/<%=@matched.where({opponent_id: user.id}).first.id%>">
			<li class="matcheduser">
				<% if @unseen.where(opponent_id: user.id).count > 0%>
          <div class="six columns">
            <img class="matchphoto" src="<%=user.picture%>">
          </div>
          <div="six columns">
					  <span class="unseen"><%=user.name%></span>
            <%if Message.where({sender_id: 53, recipient_id: 54}).last != nil %>
              "<%=Message.where({sender_id: user.id, recipient_id: @session["id"]}).last.body[0..20]%>"
            <%end%>
          </div>
					<br>
        <%elsif @unread.where(sender_id: user.id).count > 0%>
          <div class="six columns">
            <img class="matchphoto" src="<%=user.picture%>">
          </div>
          <div="six columns">
            <span><%=user.name%></span>
            <%if Message.where({sender_id: 53, recipient_id: 54}).last != nil %>
             "<%=Message.where({sender_id: user.id, recipient_id: @session["id"]}).last.body[0..20]%>"
            <%end%>
          </div>
          <br>
        <%else%>
         <div class="six columns">
          <img class="matchphoto" src="<%=user.picture%>">
         </div>
         <div class="six columns">
					<%=user.name%>
          <%if Message.where({sender_id: 53, recipient_id: 54}).last != nil %>
             "<%=Message.where({sender_id: user.id, recipient_id: @session["id"]}).last.body[0..20]%>"
          <%end%>
         </div>
				<%end%>
			</li>
		</a>
	</ul>
  </div>
	<%end%>
<%else%>
	<h3>No prospective Combatants!</h3>
<%end%>
</div>
