<h3 class="title">Trash Talk</h3>
<nav class="outer">
  <form class="inner" action="/">
    <input type="submit" value="Home">
  </form>
  <form class="inner" action="/profiles/<%=session[:user]["id"]%>">
    <input type="submit" value="Profile">
  </form>
  <% flash_types.select{ |kind| flash.has?(kind) }.each do |kind| %>
    <div class="flash <%= kind %>">
      <h6><%= flash[kind] %></h6>
    </div>
  <% end %>
  <%if @unread.count > 0%>
  <h6>You have new messages</h6>
  <%end%>
  <form class="inner" action="/<%=session[:user]["id"]%>/matches">
    <input type="submit" value="Matches">
  </form>
  <form class="inner" action="/logout" method='get'>
    <input type="hidden" name='_method' value='delete'>
    <input type="submit" value='Log-Out'>
  </form>  
</nav>
<div class="messagescontent">
<h3><%=User.find(@match['opponent_id']).name%></h3>
<div class="messagepage">
<%@all_msg_sorted.map do |message|%>
<ul>
	<li>
		<%=User.find(message.sender_id).name%> says:
		<%=message.body%>
	</li>
</ul>
<%end%>
<form action="/matches/<%=@match['id']%>/messages" method ="post">
	<input type="hidden" name="recipient_id" value="<%=@match['opponent_id']%>">
	<textarea class="messagebody" name="body" placeholder="CONTENT" cols="30" rows="10"></textarea>
	<p></p>
	<input type="submit" value="Send">
</form>
</div>
</div>