<div class="profile">
<h3><%=@person.name%></h1>
<img src="<%=@person.picture%>" alt="">
<br>
<% if @user == @person %>
<button id="editprofileshow">Edit Profile Information</button>
<div class="editprofileform">
<form class="vitals" action="/profiles/<%=@person.id%>/vitals" method="post">
<input type="hidden" name="_method" value="patch">
	Height: <input class="h_and_w" type="text" name="edit_height" value="<%=@person.height%>">
	Weight: <input class="h_and_w" type="text" name="edit_weight" value="<%=@person.weight%>">
	Location: <input class="location" type="text" name="edit_location" value="<%=@person.location%>">
	<br>
	About Me:
	<textarea id="editbio" name="edit_bio" cols="30" rows="30"><%=@person.bio%></textarea>
	<br>
	<input type="submit" value="Submit">
</form>
</div>
<div class="standardprofileview">
	<p>Height: <%=@person.height%></p>
	<p>Weight: <%=@person.weight%></p>
	<p>Location: <%=@person.location%></p>
	<span>About Me:</span>
	<div class="bio"><%=@person.bio%></div>
</div>
<% else %>
  <p>Height: <%=@person.height%></p>
	<p>Weight: <%=@person.weight%></p>
	<p>Location: <%=@person.location%></p>
	<div class="bio"><%=@person.bio%></div>
<% end %>
<br>
<form action="/">
	<input type="submit" value="Home">
</form>
</div>