<h1 class="title">Profile</h1>
<div class="profile">
<nav class="outer">
  <form class="inner" action="/">
    <input type="submit" value="Home">
  </form>
  <form class="inner" action="/profiles/<%=session[:user]["id"]%>">
    <input type="submit" value="Profile">
  </form>
  <form class="inner" action="/<%=session[:user]["id"]%>/matches">
    <input type="submit" value="Matches">
  </form>
  <form class="inner" action="/logout" method='get'>
    <input type="hidden" name='_method' value='delete'>
    <input type="submit" value='Log-Out'>
  </form>  
  <%if @unseen.count > 0%>
  <h6>You have new matches</h6>
  <%end%>
  <%if @unread.count > 0%>
  <h6>You have new messages</h6>
  <%end%>
</nav>
<h3><%=@person.name%></h3>
<img src="<%=@person.picture%>" alt="">
<br>
<% if @user == @person %>
<button id="editprofileshow">Edit Profile Information</button>
<div class="editprofileform">
<form class="vitals" action="/profiles/<%=@person.id%>/vitals" method="post">
<input type="hidden" name="_method" value="patch">
	Height: <input class="h_and_w" type="text" name="edit_height" value="<%=@person.height%>">
	Weight: <input class="h_and_w" type="text" name="edit_weight" value="<%=@person.weight%>">
	Location: <input class="location" type="text" name="edit_location" value="<%=@person.location%>">
	<br>
	About Me:
	<textarea id="editbio" name="edit_bio" cols="30" rows="30"><%=@person.bio%></textarea>
	<br>
	<input type="submit" value="Submit">
</form>
</div>
<div class="standardprofileview">
	<p>Height: <%=@person.height%></p>
	<p>Weight: <%=@person.weight%></p>
	<p>Location: <%=@person.location%></p>
	<span>About Me:</span>
	<div class="bio"><%=@person.bio%></div>
</div>
<% else %>
  <p>Height: <%=@person.height%></p>
	<p>Weight: <%=@person.weight%></p>
	<p>Location: <%=@person.location%></p>
	<div class="bio"><%=@person.bio%></div>
<% end %>
<br>
</div>